*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: sans-serif; 
} 

body{
  width: 100vw;
  height: 100vh;
  align-content: center;
  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form{
  width: 450px;
  height: auto;
  margin: 0px auto;
  box-shadow: 0px 2px 20px 2px #727272;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
  padding: 30px 30px;
  border-radius: 7px;
  backdrop-filter: blur(4px);
}

.group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2{
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

label{
  color: #fff;
  font-weight: 550;
}

.appointment{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

.appointment p{
  color: #fff;
  font-size: 0.80rem;
  text-align: center;
}

.DT{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.DT input{
  width: 155px;
  height: 50px;
  color: #666;
  padding: 10px 10px;
}

hr{
  border: none;
  background-color: black;
  height: 1px;
  width: 100%;
  margin: 10px 0px;
}

p{
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.check{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

button{
  padding: 10px 20px ;
  border-radius: 7px;
  background-color: #06b0ff;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

button:hover{
  background-color: #fff;
  color: #06b0ff;
  transition: 0.3s ease all;
}

 


