@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #626cd6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: #ffffff;
    padding: 45px 30px;
    border-radius: 10px;
    display: block;
    width: 400px;
}

h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.option{
    background-color: #f7f7f7;
    width: 160px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #6e6e6e;
}

.option a{
    padding: 8px 28px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 550;
}

.separator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 20px;
}

.separator hr{
    margin-top: 20px;
    width: 100%;
}

.separator span{
    font-weight: 550;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.group input{
    padding: 15px 15px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #6e6e6e;
    background-color: #f7f7f7;
    font-size: 15px;
}

.group label{
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
}

.passwordGroup{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.passwordInfo{
    display: flex;
    justify-content: space-between;
}

.passwordInfo label{
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
}

.passwordInfo a{
    color: #626cd6;
    text-decoration: none;
    font-weight: 550;
}

.passwordGroup input{
    padding: 15px 15px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #6e6e6e;
    background-color: #f7f7f7;
    font-size: 15px;
}

input:focus{
    border-color:#626cd6 ;
}

button{
    background-color: #626cd6;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

hr{
    margin-bottom:20px ;
}

.signup{
    margin-left:50px ;
}

.signup a{
    color: #626cd6;
    text-decoration: none;
    font-weight: 550;
}

.signup a:hover{
    text-decoration: underline;
}

.passwordGroup a:hover{
    text-decoration: underline;
}

.option:hover{
    background-color: #bebcbc;
    border-color: #333;
    transition: 0.2s ease all;
}

button:hover{
    background-color: #4f59c0;
    transition: 0.2s ease all;

}

